* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.overlay {
  background-color: rgba(2, 6, 20, 0.3);
}
.banner-container {
  background-image: url(https://f.hubspotusercontent40.net/hub/2577343/hubfs/new%20website%20hero%20background%20image%20%281%29.png?width=1440&name=new%20website%20hero%20background%20image%20%281%29.png);
  width: 100%;
  height: 100%;
  top: 0%;
  background-position: center;
  position: absolute;
  background-size: cover;
  opacity: 0.9;
  overflow: hidden;
}
.banner {
  color: white;
  margin: 0 auto;
  height: 100vh;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner h1 {
  font-weight: 600;
}
